<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>748726252268-q4kpgoifc104k4hg3etdc6acghcnngvr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.748726252268-q4kpgoifc104k4hg3etdc6acghcnngvr</string>
	<key>API_KEY</key>
	<string>AIzaSyD403NO-Hgk_zHaYUYZYmYOBhnaqHHtA2o</string>
	<key>GCM_SENDER_ID</key>
	<string>748726252268</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>psj.IOSTalk</string>
	<key>PROJECT_ID</key>
	<string>iostalk-6dc4e</string>
	<key>STORAGE_BUCKET</key>
	<string>iostalk-6dc4e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:748726252268:ios:cbd4a3205ae012b999ebc9</string>
</dict>
</plist>